.book {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 50%;
    text-align: center;
    justify-content: center;
  }
  
  .book-details {
    margin-bottom: 10px;
  }
  
  .book-actions button {
    margin-right: 5px;
  }
  
  .edit-popup {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  